.profile__edit-btn {
  border-color: white;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: black;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  outline: none;
}

.profile__edit-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    
    .profile__edit-btn {
        width: 18px;
        height: 18px;
    }
}