.profile__info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, 25px);
  align-items: center;
  margin-left: 30px;
  row-gap: 17px;
  column-gap: 25px;
  margin-top: 16px;
}

@media screen and (max-width: 375px) {
    
    .profile__info {
        grid-template-columns: repeat(2, auto);
        max-width: 320px;
        min-height: 84px;
        display: grid;
        flex-direction: column;
        column-gap: 13px;
        margin-top: 32px;
        row-gap: 7px;
    }
}