.overlay_form__input{
	width: 358px;
	border: hidden;
	border-bottom: 2px solid gray;
	margin-left: 36px;
	margin-top: 25px;
    height: 30px;
}

@media screen and (max-width: 320px) {
    .overlay_form__input {
		width: 238px;
		margin-left: 22px;
    }
}