.profile_info__description {
	color:  white;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}

@media screen and (max-width: 320px) {
    
    .profile_info__description {
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0em;
		text-align: center;
    }
}