.profile__photo {
    border-radius: 50%;
    max-width: 120px;
    padding: 0;
    margin: 0 auto;
}

@media screen and (min-width: 1280px) {
    .profile__photo {
    max-width: 120px;
    margin: 0;
    }
}